.classpath
.gradle
.project
.settings
bin
build
build.xml
gen
ros_control/jni/opencv/
libs
^libs/java/ 
obj
local.properties
proguard-project.txt

# These are Android Studio files, might be worth including these later.
.idea
*.iml
build.log
build-log.xml
docs.iml

